<p>
  Events that you've made
  <%=@user.id %>

  <br>
  <br>
  <% Event.find do |event| %>
    <% if event.user_id == @user.id %>
      <%= link_to event.name, event_path(event) %>
    <% end %>
  <% end %>



  <%# @user.find_events.each do |event|  %>
  <%#= link_to event.name, event_path(@event) %>
  <%# end %>

</p>